@import "/static/fonts.css";
#tickets-content {
    width: 97%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5em;
    padding-top: 0%;
    height: 100%;
}

#ticket-section {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0%;
}

#project-title-section {
    height: 10%;
}

#project-title {
    font-family: "Salin Medium";
    margin: 1rem;
    margin-left: 0;
    margin-top: 0;
    font-size: 4rem;
}

.ticket-column-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5em;
    justify-content: space-evenly;
}

.ticket-column {
    padding-top: 0.5em;
    max-width: 25%;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    border-radius: 12px;
    gap: 0.5em;
    /* position: absolute; settings for mobile */
    transition: 500ms ease;
}

.ticket-column-body {
    height: 100%;
}

.ticket-column-header,
.ticket-column-body {
    gap: 0.5rem;
    border-radius: 10px;
}

.ticket-column-header {
    width: 98%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: max-content;
    border-radius: 10px;
}

.ticket-column-form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.form-submit {
    width: 2rem;
    border: none;
    background-color: rgba(170, 170, 170, 0);
    border-radius: 50px;
    transition: 1000ms ease;
}

.form-submit:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.ticket-column-title {
    padding: 0.5em 0;
    text-transform: uppercase;
    font-family: "Poppins Medium";
    font-size: 1rem;
    color: var(--brown);
}

.ticket-column-body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
    gap: 0.5em;
}


/* 
+--------------+
|    Ticket    |
+--------------+
*/

.ticket {
    height: fit-content;
    border-radius: 20px;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.2rem;
    box-shadow: var(--defaultShadow);
    background-color: var(--card);
    width: 280px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    gap: 0.2em;
    cursor: pointer;
}

.ticket-header,
.ticket-title,
.ticket-description,
.ticket-deadline,
.ticket-footer {
    width: 95%;
}

.ticket-header {
    display: flex;
    align-items: center;
    overflow: visible;
}

.ticket-tag-container {
    background-color: rgb(255, 171, 75);
    width: max-content;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 0.5em;
    border-radius: 10px;
}

.ticket-tag {
    height: max-content;
    font-size: 0.7em;
    font-family: "Poppins Medium";
}

.ticket-title {
    text-align: left;
    padding: 0.5em 0;
}

.ticket-description {
    display: none;
    height: fit-content;
    font-size: 0.8rem;
}

.ticket.active .ticket-description {
    display: block;
    transition: 300ms ease;
}

.ticket-description p {
    opacity: 37%;
    font-size: 1rem;
    opacity: 0.7;
    width: 80%;
    line-height: 1.5;
}

.ticket-deadline {
    display: flex;
    gap: 0.5rem;
}

.ticket-deadline-container {
    padding: 0.3em;
    border-radius: 7px;
    width: max-content;
    display: flex;
    align-items: center;
}

.ticket-deadline-container div {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.2em;
}

.deadline-date {
    font-size: 0.7rem;
}

.project-extend,
#delete-ticket button {
    height: 2.5rem;
    width: 3.5rem;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    box-shadow: var(--defaultShadow);
    cursor: pointer;
    font-size: 1rem;
    position: relative;
}

#expand-ticket-icon {
    width: 1.5rem;
    opacity: 0.8;
}

#trash-icon {
    width: 1.2rem;
    opacity: 0.8;
}

.deadline-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    /* background-color: azure; */
}

.ticket-deadline-container svg {
    width: 0.75rem;
    margin: 0.4em;
}

.ticket-deadline-container p {
    display: flex;
    height: max-content;
    font-size: 0.6rem;
    opacity: 70%;
}

.ticket-footer {
    height: max-content;
    padding: 0.2rem 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-options {
    display: flex;
    gap: 0.5em;
}