html {
    overflow-x: hidden;
}

.background {
    position: fixed;
    width: 100vw;
    height: 80vh;
    bottom: 0%;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: 500ms ease;
    background-color: var(--primary);
}

.background.active {
    height: 100vh;
}