.new-password-title {
    font-family: "Rubik Medium";
    font-size: 1rem;
}

.new-password-modal {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 50px;
    position: absolute;
    width: 300px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em 0;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}

.new-password-modal.active {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -70%);
}

#new-password-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.new-password-input-field,
.new-password-labels {
    font-family: "Rubik Regular";
}

.new-password-labels {
    margin-left: 2px;
}

.new-password-input-field {
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(112, 112, 112, 0.233);
    width: 100%;
    margin: 0 auto;
}

.password-input {
    padding: 0.5em 0.5em;
    border: none;
    margin-top: 10px;
    width: 100%;
    transition: 500ms;
}

.icons {
    width: 1rem;
    height: fit-content;
}

#verify-eye,
#new-password-eye {
    display: none;
}

#verify-eye-off,
#new-password-eye-off,
#verify-eye,
#new-password-eye {
    margin-bottom: 10px;
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: fit-content;
}

.new-password-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

#new-password-update-button,
#new-password-close-button {
    background-color: #FEDBD0;
    font-family: "Rubik Medium";
    font-weight: 400;
    font-size: 0.8rem;
    width: fit-content;
    padding: 1em 1em;
    border-radius: 12px;
    border: none;
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 10px 5px;
    cursor: pointer;
}