@import "/static/fonts.css";
@import "/static/root.css";
@import "/static/background.css";
.form-modal-container {
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40%);
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 3;
    opacity: 1;
    transition: 500ms ease;
    box-shadow: var(--defaultShadow);
}

.form-modal-container.active {
    transform: translate(-50%, -50%);
}

.form-modal-container.show .modal-form {
    visibility: visible;
}

.modal-form {
    width: 420px;
    display: flex;
    padding: 25px 20px 10px;
    flex-direction: column;
    gap: 1em;
    border-radius: 15px;
}

.modal-form-bottom {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-field {
    display: flex;
    flex-direction: column;
}


/*--------------------------------------------------+ 
|  Container for "Create new Project and x button   | 
+---------------------------------------------------*/

.header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
    align-items: center;
}


/*------------------------+ 
|  "Create new Project"   | 
+-------------------------*/

.form-label {
    font-family: "Rubik Medium";
    margin-bottom: 5px;
    margin-left: 5px;
}

.modal-x-button {
    padding: 0px;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
}


/*---------------------------------------+ 
|  Div input-field for title and counter | 
+----------------------------------------*/

.title {
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1em;
}


/*-------------------+ 
|  Input for title   | 
+--------------------*/

.form-title {
    border: none;
    width: 80%;
    padding-bottom: 10px;
    padding-left: 5px;
}


/*---------------------+ 
|  Character counter   | 
+----------------------*/

.counter-container span,
.counter-container,
.counter-for-title,
.counter-for-description {
    color: #737373;
}

.counter-container {
    margin-right: 5px;
}


/*-------------------------+ 
|  Input for description   | 
+--------------------------*/

.form-description {
    resize: none;
    border: none;
    padding: 0.5em;
    line-height: 1.3;
}


/*----------------------------+ 
|  0/50 Counter for textarea  | 
+-----------------------------*/

.description .counter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}


/*--------------+ 
|  "Priority"   | 
+---------------*/

.form-priority {
    text-align: center;
    display: block;
    width: fit-content;
    padding: 0.55em 2.2em;
    padding-left: 3em;
    border-radius: 8px;
    font-size: 0.95rem;
    border: none;
    background-color: var(--secondary);
}


/*-----------------------+ 
|  Deadline input date   | 
+------------------------*/

.form-deadline {
    text-align: center;
    display: block;
    width: fit-content;
    padding: 0.8em 0;
    padding-left: 1.5em;
    padding-right: 0.5em;
    border-radius: 10px;
    appearance: none;
    font-weight: 400;
    border: 1px solid #dddddd;
}


/*---------------------------------------+ 
|  To remove calendar logo from chrome   | 
+----------------------------------------*/

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}


/*--------------------------+ 
|  Division line in modal   | 
+---------------------------*/

.line {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    width: 110%;
    margin-left: -18px;
}

.status {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1em 0;
    margin-top: 1.5em;
    gap: 1em;
}


/*----------------------------------------+ 
|  Container for cancel and add buttons   | 
+-----------------------------------------*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.proceed-button {
    margin-left: 15px;
    background-color: var(--primary);
}

.modal-x-button {
    background-color: inherit;
}

.proceed-button,
.modal-close-button {
    font-size: 1rem;
    padding: 1em 1.5em;
    font-family: "Rubik Medium";
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--defaultShadow);
}


/* option:before {
    content: "☐ "
}

option:checked:before {
    content: "☑ "
} */

.ticket-status {
    border: none;
    pointer-events: none;
    margin-bottom: 5px;
}

.check-icon-placeholder {
    width: 1rem;
    height: 1rem;
    display: flex;
    position: absolute;
    right: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}

.user.active>.user-details .check-icon-placeholder>.check-icon {
    display: block;
}

.check-icon {
    display: none;
}

.image-username-container {
    width: 1.5rem;
    height: 1.5rem;
}

.user-img {
    width: 100%;
    border-radius: 50px;
}

.image-username-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.user-details {
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(170, 170, 170, 0.129);
    border-radius: 12px;
    padding: 0.2em 0.5em;
    gap: 0.5em;
}

.user-username {
    font-family: "Poppins";
    text-transform: capitalize;
}

.collaborate {
    position: relative;
}

.collaborate-toggle {
    margin-top: 5px;
}


/* collaborate */

.collaborate-dropdown {
    position: absolute;
    display: grid;
    left: 0%;
    top: 120%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    opacity: 0;
    transition: 250ms ease;
    pointer-events: none;
    box-shadow: var(--defaultShadow);
    -webkit-box-shadow: var(--defaultShadow);
}

.add-user {
    top: 57%;
}

.collaborate-dropdown.active {
    pointer-events: all;
    opacity: 1;
}

.dropdown-list {
    height: 100%;
    width: 70%;
    display: flex;
    gap: 0.6em;
    flex-direction: column;
}

.collaborate-option-container {
    width: 15rem;
    height: 200px;
    display: grid;
    grid-template-rows: 30% 70%;
    justify-content: flex-start;
    overflow: scroll;
    position: relative;
    box-shadow: var(--defaultShadow);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* Container for the search bar */

#dropdown-header {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 2;
    background-color: white;
    cursor: pointer;
    border-radius: 20px 20px 0 0;
}


/* Container for both input and search icon */

#search-container {
    width: 80%;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgba(170, 170, 170, 0.129);
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5em 0.5em;
}


/* Container for the search icon */

#dropdown-search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Actual search icon */

#dropdown-search-icon {
    width: 1rem;
}


/* Input element to search for a country */

#collaborate-search {
    outline: none;
    margin-left: 0.5rem;
    background-color: none;
    border: none;
    font-family: "poppins";
    background-color: #f4f4f4;
}