@import "new-project-modal.css";
@import "navigation-rail.css";
@import "user-profile.css";
@import "fonts.css";
:root {
    --primary: #FEDBD0;
    --brown: #442C2E;
    --secondary: #FEEAE6;
    --backdrop: #feefe983;
    --defaultShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

* {
    font-size: 15px;
    outline: 0px !important;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Rubik Regular";
    overflow: hidden;
    color: #442b2d;
}

#background {
    background-color: #fff0e8;
    width: 100vw;
    height: 100vh;
}


/*-----------------+ 
|   Main Content   |
+------------------*/


/*---------------+---------------+ 
| +_____________________+        |
| |                     |        |
| |                     |        |
| |                     |        |
| |                     |        |
| |                     |        |
+---------------+----------------*/

#main-content {
    bottom: 0%;
    right: 25%;
    height: 85vh;
    width: 20%;
    transition: 500ms ease-out;
}


/*----------------+ 
|   Top Content   |
+-----------------*/


/*---------------+--------------+ 
| |_____________________|       |
|                               |
|                               |
|                               |
|                               |
|                               |
+----------------+--------------*/

.top-bar {
    position: fixed;
    top: 0%;
    right: 25%;
    height: 10%;
    background-color: var(--primary);
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    position: absolute;
    font-size: 1.5rem;
    font-family: "Rubik Regular";
    left: 2%;
}

#filter {
    margin-right: 1%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fffcf3;
    align-items: center;
    height: 3.2rem;
    margin-left: 1rem;
    width: 6.8rem;
    border-radius: 40px;
}

.filter-label {
    background-color: #fffcf3;
}

#filter-arrow {
    width: 1rem;
    background-color: #fffcf3;
}

.search-field {
    background-color: #fffcf3;
    max-width: 400px;
    width: 90%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    height: 3.2rem;
    justify-content: space-around;
}

#input-search {
    border: none;
    background-color: inherit;
    height: 90%;
    margin-left: 10px;
}

.search-icon-container {
    border-radius: 50px;
    background-color: inherit;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
}

#search-icon {
    width: 1.5rem;
    background-color: #fffcf3;
}


/*---------------------+ 
|   Top Side Content   |
+----------------------*/


/*---------------+---------------+ 
|                       |________|
|                                |
|                                |
|                                |
|                                |
|                                |
+---------------+---------------*/

#top-side-content {
    position: relative;
    top: 0%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

#notification-icon {
    margin-left: 2em;
    background-color: inherit;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    width: 6rem;
    margin-right: 1em;
}

#profile-picture-main {
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    background-color: aqua;
    cursor: pointer;
}

#profile-arrow-icon {
    width: 1.1rem;
    background-color: inherit;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.profile-dropdown {
    position: absolute;
    right: 5%;
    top: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.profile-dropdown-button {
    background-color: var(--primary);
    border: none;
}

.profile-dropdown-button.active+.profile-dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.profile-dropdown-button.active>.profile-arrow-icon {
    transform: rotate(180deg);
}

.profile-dropdown-link {
    border: none;
    height: 4rem;
    width: 9rem;
    transition: 500ms ease;
    background-color: var(--secondary);
    font-size: 1rem;
}

.profile-dropdown-link:hover {
    font-size: 0.9rem;
}


/*-----------------+ 
|   Side Content   |
+------------------*/


/*---------------+---------------+ 
|                        ________|
|                       |        |
|                       |        |
|                       |        |
|                       |        |
|                       |        |
+---------------+-------+-------*/

#side-content {
    background-color: var(--primary);
    box-shadow: var(--defaultShadow);
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 100%;
    width: 24.5%;
}