@import "new-project-modal.css";
@import "navigation-rail.css";

* {
    font-size: 16px;
    outline: 0px !important;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

#background {
    background-color: #F6CFCA;
    width: 100vw;
    height: 100vh;
}

    /*-----------------+ 
    |   Main Content   |
    +------------------*/
   /*---------------+---------------+ 
    | +_____________________+       |
    | |                     |       |
    | |                     |       |
    | |                     |       |
    | |                     |       |
    | |                     |       |
    +---------------+---------------*/

#main-content {
    position: fixed;
    bottom: 0%;
    right: 25%;
    height: 85vh;
    width: 10%;
    transition: 500ms ease-out;
}

    /*----------------+ 
    |   Top Content   |
    +-----------------*/
   /*---------------+---------------+ 
    | |_____________________|       |
    |                               |
    |                               |
    |                               |
    |                               |
    |                               |
    +---------------+---------------*/
.top-bar {
    position: fixed;
    top: 0%;
    right: 25%;
    height: 10%;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.title {
    background-color: none;
    position: absolute;
    font-size: 1.5rem;
    left: 2%;
}

#filter {
    margin-right: 1%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fffcf3;
    align-items: center;
    height: 3.2rem;
    margin-left: 1rem;
    width: 6.8rem;
    border-radius: 40px;
}

.filter-label {
    background-color: #fffcf3;
}
#filter-arrow{
    width: 1rem;
    background-color: #fffcf3;
}

.search-field {
    background-color: #fffcf3;
    max-width: 400px;
    width: 90%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    height: 3.2rem;
    justify-content: space-around;
}

#input-search {
    border: none;
    background-color: inherit;
    height: 90%;
    margin-left: 10px;
}

.search-icon-container {
    border-radius: 50px;
    background-color: inherit;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
}

#search-icon {
    width: 1.5rem;
    background-color: #fffcf3;
}

    /*---------------------+ 
    |   Top Side Content   |
    +----------------------*/
   /*---------------+---------------+ 
    |                      |________|
    |                               |
    |                               |
    |                               |
    |                               |
    |                               |
    +---------------+---------------*/

#top-side-content {
    position: relative;
    top: 0%;
    height: 10%;
    width: 100%;
    background-color: #fdf2ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

#notification-icon {
    margin-left: 2em;
    background-color: inherit;
}

.profile {
    background-color: #fdf2ea;
    display: flex;
    justify-content: space-evenly;
    width: 6rem;
    margin-right: 1em;
}

#profile-picture {
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    background-color: aqua;
}

#profile-arrow-icon {
    width: 1rem;
    background-color: inherit;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.profile-dropdown {
    position: absolute;
    right: 5%;
    top: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.profile-dropdown-button {
    background-color: #fdf2ea;
    border: none;
}

.profile-dropdown-button.active + .profile-dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.profile-dropdown-button.active > .profile-arrow-icon {
    transform: rotate(180deg);
}

.profile-dropdown-link {
    border: none;
    padding-right: 2em; 
    height: 4rem;
    width: 9rem;
    transition: 500ms ease;
    background-color: #fdf2ea;
    font-size: 0.8rem;
}

.profile-dropdown-link:hover {
    font-size: 0.9rem;
}

    /*-----------------+ 
    |   Side Content   |
    +------------------*/
    /*---------------+---------------+ 
    |                        ________|
    |                       |        |
    |                       |        |
    |                       |        |
    |                       |        |
    |                       |        |
    +---------------+-------+-------*/

#side-content {
    background-color: #fffcf3cc;
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 100%;
    width: 24.5%;
}
