/*-------------------+ 
|  Navigation rail   |
+--------------------*/


/*---------------+---------------+ 
| |                              |
| |                              |
| |                              |
| |                              |
| |                              |
| |                              |
+----------------+---------------*/

.navigation-rail {
    background-color: var(--primary);
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100vh;
    transition: 500ms ease;
    overflow: visible;
}


/* Extend and minimaize nav bar */

.nav-switch {
    position: relative;
    top: 2%;
    margin-left: 19%;
    overflow: visible;
    transition: 500ms ease;
}

.arrow-container {
    box-shadow: var(--defaultShadow);
    display: flex;
    background-color: #fedbd0;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    border-radius: 50px;
}

.arrow-container svg {
    width: 2rem;
    margin-left: 4px;
    transition: 500ms ease;
}

.navigation-rail>.nav-switch>.arrow-container:hover svg {
    transform: rotate(360deg);
}


/* arrow will turn to face left when active */

.navigation-rail>.nav-switch>.arrow-container svg {
    margin-left: 0;
    transform: rotate(180deg);
}

.navigation-rail>.nav-switch>.arrow-container:hover svg {
    margin-left: 0;
    transform: rotate(420deg);
}


/*------------------------+ 
|   Unextended Nav Rail   |
+-------------------------*/

.aside {
    display: flex;
    overflow: visible;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 13%;
    height: 65%;
    width: 100%;
    transition: 500ms ease;
}

.nav-child:first-of-type {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-child:first-of-type .label-container {
    display: none;
}

.nav-child {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 100%;
    border: none;
    height: 5rem;
    margin-bottom: 0.7rem;
}

.aside-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 4.4rem;
    border-radius: 30px;
    transition: 500ms ease;
    margin-bottom: 0.2rem;
}

.aside-icon-container svg {
    width: 1.6rem;
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease;
}

.icon-label {
    visibility: visible;
    font-size: 0.8rem;
    transition: 100ms ease;
}

.nav-button:hover .aside-icon-container {
    background-color: var(--secondary);
}


/*----------------------+ 
|   Extended Nav Rail   |
+-----------------------*/


/*---------------+--------------+ 
|       |                       |
|       |                       |
|       |                       |
|       |                       |
|       |                       |
|       |                       |
+---------------+---------------*/

@media screen and (min-width: 840px) {
    .navigation-rail {
        width: 256px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        overflow: visible;
    }
    .navigation-rail .aside {
        height: 40%;
        top: 10%;
    }
    .navigation-rail>.nav-switch {
        margin-left: 72%;
    }
    .navigation-rail>.arrow-container svg {
        margin-left: 4%;
    }
    .navigation-rail .nav-button {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        height: 3.4rem;
        border-radius: 20px;
        overflow: visible;
        width: 90%;
        transition: 500ms ease;
    }
    .navigation-rail .show-modal-button {
        justify-content: flex-start;
        padding-left: 2rem;
        height: 3.4rem;
        width: 90%;
        gap: 2rem;
        border-radius: 20px;
    }
    .navigation-rail .nav-child:first-of-type .label-container {
        display: flex;
    }
    .navigation-rail .nav-button:hover {
        background-color: var(--secondary);
    }
    .navigation-rail .aside-icon-container {
        height: auto;
        width: auto;
        border-radius: 0;
        background-color: none;
        margin-left: 2rem;
    }
    .navigation-rail .nav-button:hover .aside-icon-container {
        background-color: inherit;
        transition: none;
    }
    .navigation-rail label {
        font-size: 1rem;
    }
}