:root {
    --primary: #FEDBD0;
    --brown: #442C2E;
    --secondary: #FEEAE6;
    --backdrop: #feefe983;
    --defaultShadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    --sectionShadow: rgba(0, 0, 0, 0.06) 0px 5px 18px;
}

* {
    font-size: 15px;
    outline: 0px !important;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Rubik Regular";
    color: #442b2d;
}

path {
    pointer-events: none;
}