@font-face {
    font-family: "Poppins";
    src: url(../static/fonts/Poppins-Medium.ttf);
}

* {
    font-size: 13px;
    outline: 0px !important;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: #F6CFCA;
    overflow: hidden;
}

    /*-----------------------------+ 
    |   Container for both forms   |
    +-----------------------------*/

   /*---------------+---------------+ 
    |               |               |
    |               |               |
    |               |               |
    |               |               |
    |               |               |
    |               |               |
    +---------------+---------------*/

.forms-container {
    display: grid;
    grid-template-columns: 50% 50%;
}


    /*----------------------------+ 
    |      Div for Transition     |
    +-----------------------------*/

.cover {
    background-color: white;
    width: 200vw;
    height: 300vh;
    position: fixed;
    border-radius: 50%;
    transition: 2s ease-in-out;
    left: -150%;
    top: -95%;
}

    /*-----------------------------+ 
    |   For Both Forms Container   |
    +------------------------------*/

    /*---------------+---------------+ 
    |               |               |
    |   Register    |     Login     |
    |    covers     |    covers     |
    | full width of | full width of |
    |   this side   |   this side   |
    |               |               |
    +---------------+---------------*/

.login , .register{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.login {
    display: flex;
    flex-direction: column;
}

.register {
    display: flex;
    flex-direction: column;
    visibility: hidden;

    /* for animation purposes on landscape and laptop screens*/
    margin-left: -5%;

}

    /*----------------------------+ 
    |     Form Header Message     |
    +-----------------------------*/

 .login-header, .register-header {
    font-family: 'Poppins';
    font-weight: 550;
    cursor: default;
    font-size: 4rem;
    margin-bottom: 7.0vh;
}

    /*----------------------------+ 
    |   Both Login and Register   |
    +-----------------------------*/

    /*      The actual form       */

.form-login {
    display: flex;
    flex-direction: column;
}

.form-register {
    display: flex;
    flex-direction: column;
}

.form-login, .form-register {
    width: 90%;
    max-width: 475px;
}

    /*----------------------------+ 
    |           Inputs            |
    +-----------------------------*/

 .input-field {
    background-color: #f0f0f0;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    height: 4.5rem;
    margin-bottom: 15px;
    border-radius: 15px;
}

.input-field:first-of-type {
    margin-bottom: 1.5em;
}

input {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 300ms ease;
}

input::placeholder {
    font-weight: 500;
}

input:hover {
    color: #000;
    opacity: 1;
}


    /*----------------------------+ 
    |            Icons            |
    +-----------------------------*/

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

svg, i {
    width: 1.9rem;
    cursor: pointer;
    background-color: inherit;
    overflow: visible;
}

/*    Icons inside the input    */
input[type="password"] {
 overflow: visible;
}

input::placeholder,
svg, i {
    opacity: 0.5;
}

.eye {
    display: none;
    width: 1.2rem;
    cursor: pointer;
    background-color: #f0f0f0;
    overflow: visible;
}

.eye-off, .circle-icon {
    width: 1.3rem;
}

#user-arrow {
    width: 1.3rem;
    background-color: none;
    transition: 500ms;
}

.button:hover > #user-arrow {
    width: 1.5rem;
}



    /*----------------------------+ 
    |   Forgot password message   |
    +-----------------------------*/

.forgot {
    font-size: 1rem;
    color: black;
}

.forgot:hover {
    color: red;
}


    /*----------------------------+ 
    |           Buttons           |
    +-----------------------------*/

 .wrapper {
    width: 100%;
    margin-top: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease;
    width: 100%;
}

 .button {
    height: 6rem;
    width: 7rem;
    background-color: #f0f0f0;
    cursor: pointer;
    border: none;
    border-radius: 49px;
    color: gray;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button:hover{
    background-color: #cfcfcf;
}

.form-tag {
    cursor: default;
    font-size: 1.50rem;
    margin-left: 20px;
}

    /*----------------------------+ 
    |  To Register and To Login   | 
    +-----------------------------*/

#to-register,
#to-login {
    position: absolute;
    bottom: 3%;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

#to-register p:hover,
#to-login p:hover {
    color: blue;
}

.forms-container.to-register .login {
    visibility: hidden;
    margin-left: 5%;
}

.forms-container.to-register .register {
    visibility: visible;
    margin-left: 0%;
}

.cover.to-register {
    transform: translateX(100%);
}

    /*-----------------------------------------------+ 
    |     Phone Portrait but with short screens     |
    +------------------------------------------------*/
    
@media screen and (max-width: 500px) and (max-height: 668px) {

    .cover {
        width: 250vw;
        height: 200vh;
        left: -180vw;
        top: -180vh;
        transition: 2000ms;
    }

    .login, .register {
        position: absolute;
        transition: 400ms;
    }

    .login-header, .register-header {
        font-size: 2.5rem;
    }

    .register {
        margin-left: 0%;
    }

    .input-field {
        height: 3.5rem;
        border-radius: 10px;
    }
    
    .input-field i {
        font-size: 1.1rem;
    }

    .input-field input {
        font-size: 1.1rem;
    }

    .button {
        padding: 1.7em 2.7em;
        margin-right: 1em;
    }

    .form-tag {
        font-size: 1.2rem
    }
    
    .button {
        color: black
    }
    #to-login p, #to-register p{
        font-size: 0.9rem;
    }

    .cover.to-register {
        top: 70vh;
        left: -200vw;
    }

    .forms-container.to-register .login {
        margin-left: 5%;
    }
    
    .forms-container.to-register .register {
        margin-left: 0%;
    }
    
}

    /*-----------------------------------------------+ 
    |     Phone Portrait but with taller screens     |
    +------------------------------------------------*/

@media screen and (max-width: 500px) and (min-height: 668px) {

    .cover {
        width: 250vw;
        height: 200vh;
        left: -180vw;
        top: -180vh;
        transition: 2000ms;
    }

    .login, .register {
        position: absolute;
        transition: 400ms;
    }

    .login-header, .register-header {
        font-size: 2.5rem;
    }

    .register {
        margin-left: 0%;
    }

    .input-field {
        height: 5rem;
        border-radius: 10px;
    }
    
    .input-field i {
        font-size: 1.35rem;
    }

    .input-field input {
        font-size: 1.4rem;
    }

    .button {
        padding: 1.9em 2.9em;
        margin-right: 1em;
    }

    .form-tag {
        font-size: 1.5rem
    }
    
    .button {
        color: black
    }
    #to-login p, #to-register p{
        font-size: 0.9rem;
    }

    .cover.to-register {
        top: 70vh;
        left: -200vw;
    }

    .forms-container.to-register .login {
        margin-left: 0%;
    }
    
    .forms-container.to-register .register {
        margin-left: 0%;
    }

    .login-header, .register-header {
        font-size: 4rem;
    }

    .input-field {
        height: 4rem;
    }
}
    /*----------------------------+ 
    |      Ipad and Tablets       |
    +-----------------------------*/

    
    @media screen and (min-width: 500px) and (max-width: 1024px) and (min-height: 930px) and (max-height: 1366px) {
    .cover {
        width: 200vw;
        height: 100vh;
        transform: translate(50%, 50%);
    }

    .login-header, .register-header {
        font-size: 3rem;
        margin-bottom: 3vh;
    }

    .register-header {
        text-align: center;
    }

    .wrapper {
        margin-top: 2vh;
    }

    .form-login, .form-register {
        max-width: 400px;
    }

    .login, .register {
        height: 50vh;
        margin-top: 0%;
    }

    .login {
        margin-top: 5%;
    }

    .register {
        visibility: visible;
        margin-left: 0%;
        margin-top: -5%;
    }

    .forms-container {
        display: flex;
        flex-direction: column;
    }

    .input-field i {
        font-size: 1.25rem;
    }

    .input-field input {
        font-size: 1.3rem;
    }

    .button {
        margin-right: 1em;
        color: black;
    }

    .form-tag {
        font-size: 1.6rem
    }
    
    #to-login, #to-register {
        font-size: 1rem;
    }

    #to-register,
    #to-login {
    position: relative;
    bottom: -3%;
    }

    .cover.to-register {
        transform: translate(50%, 152%);
    }

    .forms-container.to-register .login {
        margin-left: 0%;
        margin-top: 5% ;
    }
    
    .forms-container.to-register .register {
        margin-top: 5%;
        margin-left: 0%;
    }

}

    /*----------------------------------------------------+ 
    |     Phone landscape but with less wider-screens     |
    +-----------------------------------------------------*/

    /*
        Ex.

        Iphone 5
        Samsung Galaxy S5
    */

@media screen and (min-width: 500px) and (max-width: 667px) and (max-height: 360px){
    .register {
        margin-left: 1%;
    }

    .login-header{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .register-header{
        font-size: 2.3rem;
        margin: 0 0 1rem 0;
    }

    .input-field input {
        font-size: 1.1rem;
    }

    .input-field i {
        font-size: 1.1rem;
    }

    .button {
        padding: 1.3em 1.8em;
    }

    .input-field {
        height: 2.8rem;
        border-radius: 5px;
    }

    .input-field:first-of-type {
        margin-bottom: 1em;
    }

    .wrapper {
        margin-top: 0%;
    }

    .form-tag {
        font-size: 1rem;
        margin-left: 10px;
    }

    #to-login p, #to-register p{
        font-size: 0.7rem; 
    }
}

    /*-----------------------------------------------+ 
    |     Phone landscape but with wider-screens     |
    +------------------------------------------------*/

@media screen and (min-width: 668px) and (max-width: 900px) and (max-height: 414px) {
    .register {
        margin-left: 1%;
    }
    .register-header {
        font-size: 3rem;
        margin-bottom: 7px;
        margin-left: 5px;
        margin-top: -3px;
    }

    .input-field:first-of-type {
        margin-bottom: 1em;
    }

    .login-header {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .wrapper {
        margin-top: 7px;
    }

    .input-field {
        height: 3.7rem;
    }
}