@import "country-dropdown-styles.css";

/*---------------------+
|  Parent Container   | 
+---------------------*/

#profile-section {
    max-width: 580px;
    width: 90%;
    position: fixed;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
    opacity: 0;
    overflow: visible;
    transition: 500ms ease;
}

#profile-section.active {
    opacity: 1;
    top: 50%;
}

.profile-main {
    display: flex;
    height: auto;
    width: 95%;
    flex-direction: column;
}


/*---------------+ 
|  Top Section   | 
+----------------*/

.profile-top {
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}


/*-----------------------+ 
|  Top Section Controls  | 
+------------------------*/

.profile-top-controls {
    display: flex;
    margin-top: 0.5em;
    justify-content: space-between;
    align-items: flex-end;
}

.profile-x-button {
    position: relative;
    padding: 0px;
    background-color: #fcfcfc;
    border: none;
    height: max-content;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
}

.save-button {
    border: none;
    cursor: pointer;
    background-color: #F6CFCA;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-size: 0.9rem;
}


/*----------------------------+ 
|  Profile Picture Container  | 
+-----------------------------*/

.profile-picture-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-picture {
    width: 6rem;
    height: 6rem;
    background-color: #aaaaaa;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* profile picture */

.profile-picture img {
    width: 100%;
    height: auto;
}

.camera-icon-container {
    position: relative;
    width: 2rem;
    background-color: #807b7b;
    border-radius: 50px;
    height: 2rem;
    transition: 150ms ease-out;
    z-index: 2;
    opacity: 0;
}


/* move container on hover */

.profile-picture-container:hover .camera-icon-container {
    opacity: 1;
    transform: translate(0%, -200%);
}


/* input field for profile picture placed behind camera icon */

.input-profile-picture {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.user-profile-picture:hover>.camera-icon-container {
    opacity: 1;
}

.camera-icon {
    position: relative;
    transform: translate(50%, -180%);
    z-index: 2;
    width: 1rem;
    pointer-events: none;
}


/*-------------------+ 
|  Section Divider   | 
+--------------------*/

.profile-line:nth-of-type(2) {
    border-bottom: 1px solid #d1cfcf;
    margin: -20px 0 40px;
    width: 100%;
}

.profile-line:nth-of-type(6) {
    border-bottom: 1px solid #d1cfcf;
    margin: 40px 0 20px;
}


/*--------------------------------------+ 
|  Name, Last Name, Address Container   | 
+---------------------------------------*/

.name-fields-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.profile-input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7em 0.4em 0.4em;
    border: 1px solid #d1cfcf;
    height: 5rem;
    border-radius: 5px;
    margin-bottom: 2.2rem;
}


/* Address */

.profile-input-field:nth-child(4) {
    margin-bottom: 2.2rem;
}

.input-field-placeholders,
.input-field-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.4rem;
    opacity: 0.8;
    margin-bottom: 0.9rem;
    font-size: 0.8rem;
}

.input-field-placeholders {
    width: 95%;
}

.input-field-address {
    width: 97.5%
}


/* input type["text"] */

.profile-input-field input {
    font-size: 1rem;
    border: none;
    width: 97.5%;
    outline: none;
    font-family: 'Poppins', sans-serif;
}


/*------------------+ 
|  Contact Number   | 
+-------------------*/

.number-country {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.number-country-label {
    opacity: 0.8;
    width: 100%;
    margin-left: 0.6rem;
    margin-bottom: 0.5rem;
}

.contact-number {
    margin-left: 0.6rem;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #d1cfcf;
    padding: 0 0.5em;
}

.number-country-child {
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/*------------------+ 
|  Bottom Section   | 
+-------------------*/

.profile-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.contact-grid input {
    border: none;
    font-family: 'Poppins', sans-serif;
}

.change-password {
    cursor: pointer;
    padding: 1em 1.5em;
    background-color: #896eff;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
}

.profile-close-button {
    background-color: #F6CFCA;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.9em 1.2em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}