<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="{{ url_for ('index.static' , filename='errorCode.css') }}">
</head>

<body>
    <main>
        <div class="error-code-container">
            <p class="error-code">{{ top }}</p>
        </div>
        <div class="error-message-container">
            <p class="error-message">{{ bottom }}</p>
        </div>
    </main>
</body>

</html>