@import "/static/fonts.css";
* {
    font-size: 13px;
    outline: 0px !important;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    background-color: var(--primary);
    overflow: hidden;
}


/*-----------------------------+ 
|   Container for both forms   |
+-----------------------------*/


/*-------------+-------------+ 
|         |         |        |
|         |         |        |
|         |         |        |
|         |         |        |
|         |         |        |
|         |         |        |
+--------------+-------------*/

.form-container {
    width: 100vh;
    height: 100vh;
}


/*----------------------------+ 
|      Div for Transition     |
+-----------------------------*/

.cover {
    background-color: #FEDBD0;
    width: 200vw;
    height: 300vh;
    position: fixed;
    border-radius: 50%;
    transition: 1000ms ease-out;
}

#login-cover {
    left: -90%;
    bottom: -105%;
}

#register-cover {
    right: -90%;
    bottom: -105%;
}


/*-----------------------------+ 
|   For Both Forms Container   |
+------------------------------*/


/*---------------+---------------+ 
|                |               |
|   Register     |     Login     |
|    covers      |    covers     |
| full width of  | full width of |
|   this side    |   this side   |
|                |               |
+----------------+---------------*/

.login,
.register {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.login {
    position: fixed;
    right: 0%;
}

.register {
    position: fixed;
    left: 0%;
}


/*----------------------------+ 
|     Form Header Message     |
+-----------------------------*/

.login-header,
.register-header {
    font-family: 'Rubik Medium';
    font-weight: 550;
    cursor: default;
    font-size: 4rem;
    margin-bottom: 7.0vh;
}


/*----------------------------+ 
|   Both Login and Register   |
+-----------------------------*/


/*      The actual form       */

.form-login {
    display: flex;
    flex-direction: column;
}

.form-register {
    display: flex;
    flex-direction: column;
}

.form-login,
.form-register {
    width: 90%;
    max-width: 500px;
    transition: 500ms;
}


/*----------------------------+ 
|           Inputs            |
+-----------------------------*/

.input-field {
    background-color: #f0f0f0;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    height: 4.5rem;
    margin-bottom: 15px;
    border-radius: 15px;
}

.input-field:first-of-type {
    margin-bottom: 1.5em;
}

input {
    background-color: #f0f0f000;
    border: none;
    font-family: 'Poppins medium', sans-serif;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 300ms ease;
}

input::placeholder {
    font-weight: 500;
}

input:hover {
    color: #000;
    opacity: 1;
}


/*----------------------------+ 
|            Icons            |
+-----------------------------*/

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.icons {
    width: 1.6rem;
    cursor: pointer;
    background-color: inherit;
    overflow: visible;
}

.lock-icon {
    width: 1.3rem;
}

.email-icon {
    width: 1.55rem;
}


/*    Icons inside the input    */

input[type="password"] {
    overflow: visible;
}

input::placeholder,
svg,
i {
    opacity: 0.5;
}

.eye {
    display: none;
    width: 1.2rem;
    cursor: pointer;
    background-color: #f0f0f0;
    overflow: visible;
}

.eye-off,
.circle-icon {
    width: 1.3rem;
}

#user-arrow {
    width: 1.3rem;
    background-color: #f0f0f000;
    transition: 500ms;
}

.button:hover>#user-arrow {
    width: 1.5rem;
}


/*----------------------------+ 
|           Buttons           |
+-----------------------------*/

.wrapper {
    width: 100%;
    margin-top: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease;
    width: 100%;
}

.button {
    height: 6rem;
    width: 6rem;
    background-color: #f0f0f0;
    cursor: pointer;
    border: none;
    border-radius: 33px;
    color: gray;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #cfcfcf;
}

.form-tag {
    cursor: default;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 20px;
    font-family: "Rubik Medium";
}


/*----------------------------+ 
|  To Register and To Login   | 
+-----------------------------*/

#to-register,
#to-login {
    position: absolute;
    bottom: 3%;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

#to-register,
#to-login {
    font-family: "Rubik Regular" !important;
}

#to-register a,
#to-login a {
    color: black;
}

#to-register:hover p,
#to-login:hover span {
    color: blue;
}

.forms-container.to-register .login {
    visibility: hidden;
    margin-left: 5%;
}

.forms-container.to-register .register {
    visibility: visible;
    margin-left: 0%;
}

.cover.to-register {
    transform: translateX(100%);
}


/*-----------------------------------------------+ 
|     Phone Portrait but with short screens      |
+------------------------------------------------*/

@media screen and (max-width: 500px) and (max-height: 668px) {
    .cover {
        display: none;
    }
    .login,
    .register {
        width: 100%;
        position: absolute;
        transition: 400ms;
    }
    .form-login,
    .form-register {
        margin-top: 2rem;
        opacity: 0;
    }
    .login-header,
    .register-header {
        font-size: 3.4rem;
    }
    .register {
        margin-left: 0%;
    }
    .input-field {
        height: 3.5rem;
        border-radius: 10px;
    }
    .input-field i {
        font-size: 1.1rem;
    }
    .input-field input {
        font-size: 1.1rem;
    }
    .button {
        padding: 1.7em 2.7em;
        margin-right: 1em;
    }
    .form-tag {
        font-size: 1.2rem
    }
    .button {
        padding: 1em 2em;
        color: black
    }
    #to-login p,
    #to-register p {
        font-size: 0.9rem;
    }
    #user-arrow {
        width: 1.5rem;
    }
    .wrapper {
        margin-top: 5vh;
    }
    .cover.to-register {
        top: 70vh;
        left: -200vw;
    }
    .forms-container.to-register .login {
        margin-left: 5%;
    }
    .forms-container.to-register .register {
        margin-left: 0%;
    }
}


/*-----------------------------------------------+ 
|     Phone Portrait but with taller screens     |
+------------------------------------------------*/

@media screen and (max-width: 500px) and (min-height: 668px) {
    .cover {
        display: none;
    }
    .login,
    .register {
        width: 100%;
        position: absolute;
        transition: 500ms;
    }
    .form-login,
    .form-register {
        margin-top: 2rem;
        opacity: 0;
    }
    .login-header,
    .register-header {
        font-size: 2.5rem;
    }
    .register {
        margin-left: 0%;
    }
    .input-field {
        height: 5rem;
        border-radius: 10px;
    }
    .input-field i {
        font-size: 1.35rem;
    }
    .input-field input {
        font-size: 1.4rem;
    }
    .button {
        padding: 1em 2em;
        margin-right: 1em;
    }
    .form-tag {
        font-size: 1.5rem
    }
    .button {
        color: black
    }
    #to-login p,
    #to-register p {
        font-size: 0.9rem;
    }
    .login-header,
    .register-header {
        font-size: 4rem;
    }
    .input-field {
        height: 4rem;
    }
}


/*----------------------------+ 
|      Ipad and Tablets       |
+-----------------------------*/

@media screen and (min-width: 500px) and (max-width: 1024px) and (min-height: 930px) and (max-height: 1366px) {
    .cover {
        width: 200vw;
        height: 100vh;
        transition: 500ms ease-in-out;
        transform: translate(0%, 0%);
    }
    .login-header,
    .register-header {
        font-size: 3rem;
        margin-bottom: 3vh;
    }
    .register-header {
        text-align: center;
    }
    .wrapper {
        margin-top: 2vh;
    }
    .form-login,
    .form-register {
        opacity: 0;
        max-width: 400px;
    }
    .login,
    .register {
        height: 50vh;
        margin-top: 0%;
        flex-direction: column;
        width: 100%;
    }
    .register {
        bottom: 0%;
    }
    .forms-container {
        display: flex;
        flex-direction: column;
    }
    .input-field i {
        font-size: 1.25rem;
    }
    .input-field input {
        font-size: 1.3rem;
    }
    .button {
        margin-right: 1em;
        color: black;
    }
    .form-tag {
        font-size: 1.6rem
    }
    #to-login,
    #to-register {
        font-size: 1rem;
    }
    #to-register,
    #to-login {
        position: relative;
        bottom: -3%;
    }
}


/*----------------------------------------------------+ 
|     Phone landscape but with less wider-screens     |
+-----------------------------------------------------*/


/*
        Ex.

        Iphone 5
        Samsung Galaxy S5
    */

@media screen and (min-width: 500px) and (max-width: 667px) and (max-height: 380px) {
    #register-cover {
        left: 50% !important;
        top: -100% !important;
    }
    #login-cover {
        left: -150% !important;
        top: -100% !important;
    }
    .login,
    .register {
        width: 50%;
    }
    .form-login,
    .form-register {
        max-width: 80%;
    }
    .login-header {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
    .register-header {
        font-size: 2.3rem;
        margin: 0 0 1rem 0;
    }
    .input-field input {
        font-size: 1.1rem;
    }
    .input-field i {
        font-size: 1.1rem;
    }
    .button {
        height: 4.5rem;
        width: 4.5rem;
        padding: 0.5em 1em;
    }
    .input-field {
        height: 2.8rem;
        border-radius: 5px;
    }
    .input-field:first-of-type {
        margin-bottom: 1em;
    }
    .wrapper {
        margin-top: 0%;
    }
    .form-tag {
        font-size: 1rem;
        margin-left: 10px;
    }
    #to-login p,
    #to-login span,
    #to-register p {
        font-size: 0.7rem;
    }
}


/*-----------------------------------------------+ 
|     Phone landscape but with wider-screens     |
+------------------------------------------------*/

@media screen and (min-width: 668px) and (max-width: 950px) and (max-height: 500px) {
    #register-cover {
        left: 50% !important;
        top: -100% !important;
    }
    #login-cover {
        left: -150% !important;
        top: -100% !important;
    }
    .register,
    .login {
        width: 50%;
    }
    .register-header {
        font-size: 3rem;
        margin-bottom: 7px;
        margin-left: 5px;
        margin-top: -3px;
    }
    .input-field:first-of-type {
        margin-bottom: 1em;
    }
    .login-header {
        font-size: 4rem;
        margin-bottom: 10px;
    }
    .wrapper {
        margin-top: 7px;
    }
    .input-field {
        height: 3.7rem;
    }
}