.flashes,
.error-list {
    position: fixed;
    left: 0%;
    bottom: 0%;
    max-width: max-content;
    z-index: 10;
    margin: 1em;
}

.message,
.error {
    font-family: "Poppins Medium";
    padding: 0.5em 1.2em;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    border: none;
    width: fit-content;
    border-radius: 15px;
    list-style: none;
    opacity: 0;
    position: relative;
    z-index: 10;
    color: white;
    transition: 500ms;
    background-color: rgb(131, 104, 104);
}

.message.active,
.error.active {
    margin-left: 1.1em;
    opacity: 1;
}