/*-------------------+ 
|  Navigation rail   |
+--------------------*/


/*---------------+---------------+ 
| |                              |
| |                              |
| |                              |
| |                              |
| |                              |
| |                              |
+----------------+---------------*/

#navigation-rail {
    grid-area: navigation-rail;
    background-color: var(--primary);
    box-shadow: var(--defaultShadow);
    display: flex;
    flex-direction: column;
    transition: 500ms ease;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
}


/*-----------------------+ 
|   Show modal Buttons   |
+------------------------*/

.show-modal-button {
    box-shadow: var(--defaultShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 1.6rem;
    border-radius: 26px;
    border: none;
    background-color: var(--secondary);
    cursor: pointer;
}

.show-modal i {
    opacity: 0.6;
}

.pencil-icon {
    width: 1.2rem;
    transition: 500ms ease;
}

.title {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: none;
    font-family: "Rubik Regular";
}

.arrow-container {
    box-shadow: var(--defaultShadow);
    display: flex;
    background-color: #fedbd0;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
}

.arrow-container svg {
    width: 1.5rem;
    margin-left: 0.2rem;
    transition: 500ms ease;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 13%;
    height: 40%;
    width: 100%;
    transition: 500ms ease;
}

.nav-child:first-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-child:first-of-type .label-container {
    display: none;
}

.nav-child {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 100%;
    border: none;
}

.aside-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0;
    width: 4.3rem;
    border-radius: 30px;
    background-color: var(--secondary);
    transition: 500ms ease;
    margin-bottom: 0.5rem;
    box-shadow: var(--defaultShadow);
}

.aside-icon-container svg,
.pencil-icon {
    width: 1.5rem;
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease;
}

.icon-label {
    visibility: hidden;
    font-size: 0.7rem;
    transition: 100ms ease;
}


/*----------------------+ 
|   Extended Nav Rail   |
+-----------------------*/


/*---------------+--------------+ 
|       |                       |
|       |                       |
|       |                       |
|       |                       |
|       |                       |
|       |                       |
+---------------+---------------*/

@media screen and (min-width: 1600px) {
    #navigation-rail {
        box-shadow: var(--defaultShadow);
    }
    .aside {
        height: 25%;
        top: 10%;
    }
    .nav-header {
        justify-content: space-between;
    }
    .nav-switch {
        margin-right: 1.2rem;
    }
    .nav-child {
        gap: 1rem;
    }
    .title {
        display: block;
    }
    .nav-button {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        padding: 0.5rem 0;
        border-radius: 20px;
        width: 85%;
        transition: 150ms ease;
    }
    .show-modal-button {
        justify-content: flex-start;
        padding: 1.1rem 0;
        padding-left: 1.5rem;
        width: 85%;
        gap: 2rem;
        border-radius: 20px;
    }
    .nav-child:first-of-type .label-container {
        display: flex;
    }
    .nav-button:hover,
    .nav-button:focus {
        box-shadow: var(--defaultShadow);
        background-color: var(--secondary);
    }
    .aside-icon-container {
        background-color: inherit;
        padding: .6rem 0;
        width: auto;
        border-radius: 0;
        margin-left: 1.5rem;
        margin-bottom: 0%;
        box-shadow: none;
    }
    .nav-button:hover .aside-icon-container {
        background-color: inherit;
        transition: none;
    }
    .icon-label {
        font-size: 0.95rem;
        visibility: visible;
    }
}

@media screen and (min-width: 500px) and (max-width: 1024px) and (min-height: 930px) and (max-height: 1366px) {
    #navigation-rail {
        padding: 1rem 0;
        position: fixed;
        bottom: 0%;
    }
    #navigation-rail,
    .aside,
    .nav-child {
        padding: 0.1rem 0;
        flex-direction: row-reverse;
    }
    .nav-header {
        width: fit-content;
    }
    .nav-child:first-of-type {
        position: absolute;
        top: -195%;
        right: 2%;
        width: fit-content;
    }
    .nav-child:last-of-type {
        width: 100%;
    }
    .aside-icon-container {
        background-color: var(--primary);
        padding: 0.7rem 0;
        width: 5rem;
        margin-bottom: 0.2rem;
        box-shadow: none;
    }
    .aside-icon-container:hover,
    .aside-icon-container:focus {
        box-shadow: var(--defaultShadow);
        background-color: var(--secondary);
    }
    .icon-label {
        font-size: 1rem;
        visibility: visible;
    }
    .aside-icon-container svg {
        width: 1.5rem;
    }
    .nav-switch {
        display: none;
    }
    .aside {
        width: 100vw;
    }
    .show-modal-button {
        background-color: var(--primary);
        justify-content: flex-start;
        padding: 2.7rem;
    }
    .pencil-icon {
        width: 2rem;
    }
}


/*-----------------------------------------------+ 
|     Phone Portrait but with short screens      |
+------------------------------------------------*/

@media screen and (max-width: 500px) and (max-height: 600px) {
    #navigation-rail {
        padding: 0;
        position: fixed;
        z-index: 2;
        bottom: 0%;
    }
    #navigation-rail,
    .aside,
    .nav-child {
        flex-direction: row-reverse;
    }
    .nav-header {
        width: fit-content;
    }
    .nav-child:first-of-type {
        position: absolute;
        top: -145%;
        right: 2%;
        width: fit-content;
    }
    .nav-child:last-of-type {
        width: 100%;
    }
    .aside-icon-container {
        background-color: var(--primary);
        padding: 0.3rem 0;
        width: 5rem;
        margin-bottom: 0.1rem;
        box-shadow: none;
    }
    .aside-icon-container.active {
        background-color: var(--secondary);
    }
    .icon-label {
        font-size: 0.7rem;
    }
    .aside-icon-container svg {
        width: 1rem;
    }
    .nav-switch {
        display: none;
    }
    .aside {
        width: 100vw;
    }
    .show-modal-button {
        background-color: var(--primary);
        justify-content: flex-start;
        padding: 1.5rem;
    }
    .pencil-icon {
        width: 1.5rem;
    }
}


/*-----------------------------------------------+ 
|     Phone Portrait but with taller screens     |
+------------------------------------------------*/

@media screen and (max-width: 500px) and (min-height: 601px) {
    #navigation-rail {
        padding: 0.8rem 0;
        position: fixed;
        z-index: 2;
        bottom: 0%;
    }
    #navigation-rail,
    .aside,
    .nav-child {
        flex-direction: row-reverse;
    }
    .nav-header {
        width: fit-content;
    }
    .nav-child:first-of-type {
        position: absolute;
        top: -230%;
        right: 2%;
        width: fit-content;
    }
    .nav-child:last-of-type {
        width: 100%;
    }
    .aside-icon-container {
        background-color: var(--primary);
        padding: 0.3rem 0;
        width: 5rem;
        box-shadow: none;
    }
    .aside-icon-container {
        background-color: var(--secondary);
    }
    .icon-label {
        font-size: 0.7rem;
    }
    .aside-icon-container svg {
        width: 1.5rem;
    }
    .nav-switch {
        display: none;
    }
    .aside {
        width: 100vw;
    }
    .show-modal-button {
        background-color: var(--primary);
        justify-content: flex-start;
        padding: 2.5rem;
    }
    .pencil-icon {
        width: 1.5rem;
    }
}


/*------------------------------------------------------+ 
|     Phone Portrait but with even shorter screens      |
+-------------------------------------------------------*/

@media screen and (max-width: 500px) and (max-height: 500px) {
    #navigation-rail {
        padding: 0.4rem 0;
        position: fixed;
        z-index: 2;
        bottom: 0%;
    }
    .nav-child:first-of-type {
        position: absolute;
        top: -260%;
        right: 2%;
        width: fit-content;
    }
    .aside-icon-container {
        background-color: var(--primary);
        padding: 0.3rem 0;
        width: 5rem;
        margin-bottom: 0.1rem;
    }
    .show-modal-button {
        background-color: var(--primary);
        justify-content: flex-start;
        padding: 2.2rem;
    }
    .pencil-icon {
        width: 1.3rem;
    }
}