@import "./fonts.css";
@import "./root.css";
* {
    margin: 0%;
}

.error-code-container,
.error-message-container {
    position: fixed;
    font-family: "Rubik Regular";
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    font-size: 2rem;
    margin: 1em;
}

.error-code-container {
    z-index: 1;
}

.error-message-container {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: min-content;
    background-color: var(--secondary);
}

.error-code {
    font-size: 100vh;
    text-align: center;
    margin: 0%;
}