{% extends"layout.html" %} {% block component_style -%}
<link rel="stylesheet" href="{{ url_for('tickets.static', filename='tickets.css') }}"> {% endblock component_style %} {% block component_script -%}
<script type="module" src="{{ url_for('tickets.static', filename='ticket.js') }}" defer></script>
{%- endblock component_script%} {% block tickets -%}

<div id="tickets-content">

    <div id="ticket-section">
        <input type="hidden" value="{{current_user.id}}" id="current_user">
        <input type="hidden" value="{{project_author.id}}" id="project_author">
        <div id="project-title-section">
            <p id="project-title">{{project_details.title}}</p>
        </div>
        <div class="ticket-column-container">
            <div class="ticket-column">
                <div class="ticket-column-header">
                    <p class="ticket-column-title">Pending</p>
                    {% if project_author.id == current_user.id -%}
                    <form class="ticket-column-form" action="{{ url_for('tickets.add_ticket', current_project_id=project_id, this_tickets_status='Pending')}}" method="get">
                        <input type="hidden" name="ticket-status" value="Pending">
                        <button type="submit" class="form-submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg></button>
                    </form>
                    {%- endif %}
                </div>
                <div class="ticket-column-body" data-ticket-status="Pending">
                    {% for ticket in tickets %} {% if ticket.status == 'Pending' %}

                    <div class="ticket" draggable="true" data-ticket-id="{{ ticket.id }}">
                        <input type="hidden" value="{{ticket.status}}" class="ticket_status">
                        <div class="ticket-header">
                            <div class="ticket-tag-container">
                                <p class="ticket-tag">{{ ticket.priority }}</p>
                            </div>
                        </div>
                        <p class="ticket-title">{{ ticket.name }}</p>
                        <p class="ticket-description">{{ ticket.content }}</p>
                        <div class="ticket-deadline">
                            <div class="ticket-deadline-container">
                                <div>
                                    <span class="deadline-date deadline-month">{{ ticket.deadline.strftime('%m') }}</span>
                                    <span class="deadline-date deadline-day">{{ ticket.deadline.strftime('%d') }}</span>
                                    <span class="deadline-date deadline-year">{{ ticket.deadline.strftime('%y') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-footer">
                            {% for record in assigned_user -%}
                            <input type="hidden" id="assigned-user" value="{{record['assigned_user']}}">
                            <!--  -->
                            {% if ticket.id == record["ticket_id"] %}
                            <a href="{{ url_for( 'profile._profile') }}" id="profile-picture-main">
                                <img src="{{ record['author_profile_picture'] }}" class="dashboard-profile-picture reduced" alt="">
                            </a>
                            {%- endif %}
                            <!--  -->
                            {%- endfor %}
                            <div class="footer-options">
                                <a href="{{ url_for( 'tickets.open_ticket', current_ticket_id=ticket.id) }}" class="project-extend" id="project-extend" type="button">
                                    <svg id="expand-ticket-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="expand"><rect width="24" height="24" opacity="0" transform="rotate(180 12 12)
                               "/><path d="M20 5a1 1 0 0 0-1-1h-5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L18 7.42V10a1 1 0 0 0 1 1 1 1 0 0 0 1-1zM10.71 13.29a1 1 0 0 0-1.42 0L6 16.57V14a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2H7.42l3.29-3.29a1
                                1 0 0 0 0-1.42z"/></g></g></svg>
                                </a>
                                {% if project_author == current_user.username -%}
                                <form method="post" action="{{ url_for( 'tickets.delete_ticket', current_ticket_id=ticket.id) }}" id="delete-ticket" type="button">
                                    <input type="hidden" name="project_id" value="{{project_id}}">
                                    <button type="submit"><svg class="trash-icon" id="trash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg></button>
                                </form>
                                {%- endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </div>

            <div class="ticket-column">
                <div class="ticket-column-header">
                    <p class="ticket-column-title">In Progress</p>
                    {% if project_author.id == current_user.id -%}
                    <form class="ticket-column-form" action="{{ url_for( 'tickets.add_ticket', current_project_id=project_id, this_tickets_status='In Progress ' )}}" method="get">
                        <input type="hidden" name="ticket-status" value="In Progress">
                        <button type="submit" class="form-submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg></button>
                    </form>
                    {%- endif %}
                </div>
                <div class="ticket-column-body" data-ticket-status="In Progress">
                    {% for ticket in tickets %} {% if ticket.status == 'In Progress' %}

                    <div class="ticket" draggable="true" data-ticket-id="{{ ticket.id }}">
                        <input type="hidden" value="{{ticket.status}}" class="ticket_status">
                        <div class="ticket-header">
                            <div class="ticket-tag-container">
                                <p class="ticket-tag">{{ ticket.priority }}</p>
                            </div>
                        </div>
                        <div class="ticket-title">
                            <p>{{ ticket.name }}</p>
                        </div>
                        <div class="ticket-description">
                            <p>{{ ticket.content }}</p>
                        </div>
                        <div class="ticket-deadline">
                            <div class="ticket-deadline-container">
                                <div>
                                    <span class="deadline-date deadline-month">{{ ticket.deadline.strftime('%m') }}</span>
                                    <span class="deadline-date deadline-day">{{ ticket.deadline.strftime('%d') }}</span>
                                    <span class="deadline-date deadline-year">{{ ticket.deadline.strftime('%y') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-footer">
                            {% for record in assigned_user -%}
                            <input type="hidden" id="assigned-user" value="{{record['assigned_user']}}">
                            <!--  -->
                            {% if ticket.id == record["ticket_id"] %}
                            <a href="{{ url_for( 'profile._profile') }}" id="profile-picture-main">
                                <img src="{{ record['author_profile_picture'] }}" class="dashboard-profile-picture reduced" alt="">
                            </a>
                            {%- endif %}
                            <!--  -->
                            {%- endfor %}
                            <div class="footer-options">
                                <a href="{{ url_for( 'tickets.open_ticket', current_ticket_id=ticket.id) }}" class="project-extend" id="project-extend" type="button">
                                    <svg id="expand-ticket-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="expand"><rect width="24" height="24" opacity="0" transform="rotate(180 12 12)
                               "/><path d="M20 5a1 1 0 0 0-1-1h-5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L18 7.42V10a1 1 0 0 0 1 1 1 1 0 0 0 1-1zM10.71 13.29a1 1 0 0 0-1.42 0L6 16.57V14a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2H7.42l3.29-3.29a1
                                1 0 0 0 0-1.42z"/></g></g></svg>
                                </a>
                                {% if project_author == current_user.username -%}
                                <form method="post" action="{{ url_for( 'tickets.delete_ticket', current_ticket_id=ticket.id) }}" id="delete-ticket" type="button">
                                    <input type="hidden" name="project_id" value="{{project_id}}">
                                    <button type="submit"><svg class="trash-icon" id="trash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg></button>
                                </form>
                                {%- endif %}
                            </div>
                        </div>
                    </div>

                    {% endif %} {% endfor %}
                </div>
            </div>

            <div class="ticket-column">
                <div class="ticket-column-header">
                    <p class="ticket-column-title">Completed</p>
                </div>
                <div class="ticket-column-body" data-ticket-status="Completed">
                    {% for ticket in tickets %} {% if ticket.status == 'Completed' %}

                    <div class="ticket" draggable="true" data-ticket-id="{{ ticket.id }}">
                        <input type="hidden" value="{{ticket.status}}" class="ticket_status">
                        <div class="ticket-header">
                            <div class="ticket-tag-container">
                                <p class="ticket-tag">{{ ticket.priority }}</p>
                            </div>
                        </div>
                        <div class="ticket-title">
                            <p>{{ ticket.name }}</p>
                        </div>
                        <div class="ticket-description">
                            <p>{{ ticket.content }}</p>
                        </div>
                        <div class="ticket-deadline">
                            <div class="ticket-deadline-container">
                                <div>
                                    <span class="deadline-date deadline-month">{{ ticket.deadline.strftime('%m') }}</span>
                                    <span class="deadline-date deadline-day">{{ ticket.deadline.strftime('%d') }}</span>
                                    <span class="deadline-date deadline-year">{{ ticket.deadline.strftime('%y') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-footer" data-id="{{assigned_user['ticket_id']}}" data-ticket="{{ticket.id}}">
                            {% for record in assigned_user -%}
                            <input type="hidden" id="assigned-user" value="{{record['assigned_user']}}">
                            <!--  -->
                            {% if ticket.id == record["ticket_id"] %}
                            <a href="{{ url_for( 'profile._profile') }}" id="profile-picture-main">
                                <img src="{{ record['author_profile_picture'] }}" class="dashboard-profile-picture reduced" alt="">
                            </a>
                            {%- endif %}
                            <!--  -->
                            {%- endfor %}
                            <div class="footer-options">
                                <a href="{{ url_for( 'tickets.open_ticket', current_ticket_id=ticket.id) }}" class="project-extend" id="project-extend" type="button">
                                    <svg id="expand-ticket-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="expand"><rect width="24" height="24" opacity="0" transform="rotate(180 12 12)
                               "/><path d="M20 5a1 1 0 0 0-1-1h-5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L18 7.42V10a1 1 0 0 0 1 1 1 1 0 0 0 1-1zM10.71 13.29a1 1 0 0 0-1.42 0L6 16.57V14a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2H7.42l3.29-3.29a1
                                1 0 0 0 0-1.42z"/></g></g></svg>
                                </a>
                                {% if project_author == current_user.username -%}
                                <form method="post" action="{{ url_for( 'tickets.delete_ticket', current_ticket_id=ticket.id) }}" id="delete-ticket" type="button">
                                    <input type="hidden" name="project_id" value="{{project_id}}">
                                    <button type="submit"><svg class="trash-icon" id="trash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg></button>
                                </form>
                                {%- endif %}
                            </div>
                        </div>
                    </div>

                    {% endif %} {% endfor %}
                </div>
            </div>
            <div class="ticket-column">
                <div class="ticket-column-header">
                    <p class="ticket-column-title">Reviewed</p>
                </div>
                <div class="ticket-column-body" data-ticket-status="Reviewed">
                    {% for ticket in tickets %} {% if ticket.status == 'Reviewed' %}

                    <div class="ticket" draggable="true" data-ticket-id="{{ ticket.id }}">
                        <input type="hidden" value="{{ticket.status}}" class="ticket_status">
                        <div class="ticket-header">
                            <div class="ticket-tag-container">
                                <p class="ticket-tag">{{ ticket.priority }}</p>
                            </div>
                        </div>
                        <div class="ticket-title">
                            <p>{{ ticket.name }}</p>
                        </div>
                        <div class="ticket-description">
                            <p>{{ ticket.content }}</p>
                        </div>
                        <div class="ticket-deadline">
                            <div class="ticket-deadline-container">
                                <div>
                                    <span class="deadline-date deadline-month">{{ ticket.deadline.strftime('%m') }}</span>
                                    <span class="deadline-date deadline-day">{{ ticket.deadline.strftime('%d') }}</span>
                                    <span class="deadline-date deadline-year">{{ ticket.deadline.strftime('%y') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-footer" data-id="{{assigned_user['ticket_id']}}" data-ticket="{{ticket.id}}">
                            {% for record in assigned_user -%}
                            <input type="hidden" id="assigned-user" value="{{record['assigned_user']}}">
                            <!--  -->
                            {% if ticket.id == record["ticket_id"] %}
                            <a href="{{ url_for( 'profile._profile') }}" id="profile-picture-main">
                                <img src="{{ record['author_profile_picture'] }}" class="dashboard-profile-picture reduced" alt="">
                            </a>
                            {%- endif %}
                            <!--  -->
                            {%- endfor %}
                            <div class="footer-options">
                                <a href="{{ url_for( 'tickets.open_ticket', current_ticket_id=ticket.id) }}" class="project-extend" id="project-extend" type="button">
                                    <svg id="expand-ticket-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="expand"><rect width="24" height="24" opacity="0" transform="rotate(180 12 12)
                               "/><path d="M20 5a1 1 0 0 0-1-1h-5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L18 7.42V10a1 1 0 0 0 1 1 1 1 0 0 0 1-1zM10.71 13.29a1 1 0 0 0-1.42 0L6 16.57V14a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2H7.42l3.29-3.29a1
                                1 0 0 0 0-1.42z"/></g></g></svg>
                                </a>
                                {% if project_author == current_user.username -%}
                                <form method="post" action="{{ url_for( 'tickets.delete_ticket', current_ticket_id=ticket.id) }}" id="delete-ticket" type="button">
                                    <input type="hidden" name="project_id" value="{{project_id}}">
                                    <button type="submit"><svg class="trash-icon" id="trash-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/></svg></button>
                                </form>
                                {%- endif %}
                            </div>
                        </div>
                    </div>

                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock tickets %}