<!-- {# modal scripts #} -->
{%- block scripts %}
<script src="{{ url_for( 'static' , filename='form-modal.js')  }}" type="module" defer></script>
{% endblock scripts -%}

<!-- {# modal styles #} -->
{%- block style %}
<link rel="stylesheet" href="{{ url_for( 'static' , filename='form-modal.css')}}"> {% endblock style -%}

<!-- {# extend head #} -->
{% extends "head.html" %}

<!-- {# block start #} -->
{%- block new_project %}
<img src="{{ url_for( 'static' , filename='background.png')  }}" class="image-background" alt="">

<div id="background" class="background">
</div>

<!-- {# displays form errors #} -->
{% if form.errors %}
<ul class="error-list">
    {% for field_name,field_errors in form.errors|dictsort if field_errors %} {% for error in field_errors %}
    <div class="error">{{ error }}</div>
    {% endfor %} {% endfor %}
</ul>
{% endif %}
<input type="hidden" value="project-modal" class="current-page-title">
<div class="form-modal-container">
    {% if modal_title == 'CREATE NEW PROJECT'%}
    <form class="modal-form" role="form" action="{{ url_for('projects.add_project') }}" method="post">
        {% else %}
        <form class="modal-form" role="form" action="{{ url_for('projects.update_project', current_project_id=project_id) }}" method="post">
            {% endif %}

            <!-- {# csrf #} -->
            {{ form.csrf_token }}
            <div class="modal-form-top">
                <section class="input-field header">
                    <label class="form-label">{{ modal_title }}</label>
                    <button type="button" class="modal-x-button">&times;</button>
                </section>

                <div class="line"></div>

                <section class="input-field title">
                    <!-- {#  project title input #} -->
                    {{ form.title(class="form-title", placeholder="Web App") }}
                    <p class="counter-container" id="counter-for-title"><span>0</span>/50</p>
                </section>

                <section class="input-field description">
                    <!-- {# project description input #} -->
                    {{ form.description(class="form-description", rows="5", placeholder="This project....") }}
                    <p class="counter-container" id="counter-for-description"><span>0</span>/200</p>
                </section>
            </div>
            <div class="modal-form-bottom">
                <!-- {# show all list of users and collaborators only if title is "UDPATE THIS PROJECT" #} -->
                {% if modal_title == 'UPDATE THIS PROJECT'-%}
                <label for="collaborate" class="button-basic collaborate-toggle">ADD COLLABORATORS</label>
                <section class="input-field collaborate">
                    <!-- {# project description collaborate #} -->
                    <div id="collaborate-dropdown" id="collaborate-dropdown" class="collaborate-dropdown">
                        <div id="collaborate" name="collaborate" class="collaborate-option-container">
                            <div id="dropdown-header">
                                <div id="search-container">
                                    <div id="dropdown-search-icon-container">
                                        <svg id="dropdown-search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"/></svg>
                                    </div>
                                    <input type="text" placeholder="search" id="collaborate-search">
                                </div>
                            </div>
                            <ul class="dropdown-list">
                                <!-- {# Show all users #} -->
                                {% for user in users -%}
                                <!-- {# loop through all users #} -->
                                <div class="user">
                                    <li class="user-details" value="{{ user.username }}">
                                        <div class="image-username-container">
                                            <img class="user-img" src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture) }}">
                                        </div>
                                        <p class="user-username">{{ user }}</p>

                                        <div class="check-icon-placeholder">
                                            <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14.72,8.79l-4.29,4.3L8.78,11.44a1,1,0,1,0-1.41,1.41l2.35,2.36a1,1,0,0,0,.71.29,1,1,0,0,0,.7-.29l5-5a1,1,0,0,0,0-1.42A1,1,0,0,0,14.72,8.79ZM12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"/></svg>
                                        </div>
                                    </li>
                                </div>
                                {%- endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- {# holds all selected values of select-collaborate #} -->
                    {{ form.collaborate }}
                </section>
                {%- endif %}
                <input type="hidden" class="author" value="{{current_user.username}}">
                <section class="input-field deadline">
                    <label class="form-label">Deadline</label>
                    <!-- {# project deadline input #} -->
                    {{ form.deadline(class="form-deadline") }}
                </section>
            </div>
            <div class="line"></div>

            <section class="footer">
                <!-- {# Cancel Button #} -->
                <div class="modal-close-button">CANCEL</div>
                <!-- {# Add Button #} -->
                {{ form.proceed(class="proceed-button") }}
            </section>
        </form>
</div>
<!-- {# end of new_project #} -->
{%- endblock new_project %}