.projects-container {
    width: 97%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5em;
}

.project {
    background-color: var(--primary);
    box-shadow: var(--defaultShadow);
    max-width: 13rem;
    width: 100%;
    max-height: fit-content;
    height: 100%;
    padding: 1em;
    border-radius: 12px;
    display: flex;
    gap: 0.5rem;
    height: fit-content;
    flex-direction: column;
    transition: 300ms ease-in-out;
    position: relative;
}

.project.active {
    max-width: 20rem;
    z-index: 3;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-header-left {
    position: relative;
    display: flex;
    transition: 300ms ease;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.project-header-right {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0%;
    margin: 1.3em 1em;
}

.project-options {
    list-style: none;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-header-right.active .project-options {
    opacity: 1;
    pointer-events: all;
}

.project-option {
    padding: 0.7rem;
    border-radius: 10px;
    background-color: var(--secondary);
    box-shadow: var(--defaultShadow);
    cursor: pointer;
    border: none;
}

.project-option svg {
    opacity: 0.7;
}

.project-option:hover svg {
    opacity: 1;
}

.three-dot {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.three-dot,
.edit-icon,
.trash-icon {
    width: 1.1em;
    transition: 300ms ease-in-out;
}

.project-title {
    font-family: "Poppins Medium";
}

.favorites-icon {
    fill: rgb(0, 0, 0);
    width: 1rem;
}

#starred-icon {
    transition: 100ms ease-in-out;
}

.star-container {
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.project-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2em;
    font-size: 0.7rem;
}

.author-bookmark-state {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    color: rgb(46, 87, 150);
    font-size: 0.65rem;
    cursor: pointer;
    outline: inherit;
}

.project-bottom {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    font-family: "Rubik Light";
    justify-content: center;
}

.project-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-description-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.project.active .project-body>.project-description-container {
    display: block;
}

.project-description-container {
    display: none;
}

.project-description {
    transition: 300ms ease;
    font-size: 1rem;
    opacity: 0.7;
    width: 80%;
    line-height: 1.5;
}

.project-footer {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.project.active .project-bottom .project-footer {
    justify-content: flex-start;
}

#project-extend {
    height: 3rem;
    width: 3.5rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
    box-shadow: var(--defaultShadow);
    cursor: pointer;
    font-size: 1rem;
    position: relative;
}

.deadline-container {
    height: 1.5rem;
    padding: 0 0.5em;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: rgb(219, 214, 207);
    opacity: 1;
    transition: 300ms ease-in-out;
}

.project.active .project-footer .deadline-container {
    background-color: rgb(255, 187, 103);
}

#expand-ticket-icon {
    width: 1.5rem;
    opacity: 0.8;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -51%);
}

.show-ticket-button {
    padding: .7em 0.5em;
    border-radius: 10px;
    background-color: var(--secondary);
    display: none;
    border: none;
    cursor: pointer;
    width: fit-content;
    box-shadow: var(--defaultShadow);
}

.project.active .go-to-ticket>.show-ticket-button {
    display: block;
}

.project.active .project-header-right>.three-dot {
    opacity: 1;
    pointer-events: all;
}