.projects-container {
    width: 97%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5em;
}

.project {
    background-color: var(--primary);
    box-shadow: var(--defaultShadow);
    max-width: 13rem;
    width: 100%;
    max-height: fit-content;
    height: 100%;
    padding: 1em;
    border-radius: 12px;
    display: flex;
    gap: 0.5rem;
    height: fit-content;
    flex-direction: column;
    transition: 300ms ease-in-out;
    position: relative;
}

.project.active {
    max-width: 21rem;
    z-index: 3;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-header-left {
    position: relative;
    display: flex;
    transition: 300ms ease;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.project-header-right {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0%;
    margin: 1.3em 1em;
}

.project-options-container {
    display: flex;
    gap: 0.5em;
}

.project-options {
    width: 100%;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-header-right.active .project-options {
    opacity: 1;
    pointer-events: all;
}

.project-option {
    padding: 0.7rem;
    border-radius: 10px;
    background-color: var(--secondary);
    box-shadow: var(--defaultShadow);
    cursor: pointer;
    border: none;
}

.tooltip {
    background: var(--brown);
    width: min-content;
    text-align: center;
    z-index: 4;
    font-family: "Rubik Medium";
    color: var(--secondary);
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
    transition: 200ms ease;
}

.leave-project-tooltip[data-popper-placement^='left']>#arrow {
    right: 0px;
}

.leave-project-tooltip[data-show] {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.project-option svg {
    opacity: 0.7;
}

.project-option:hover svg {
    opacity: 1;
}

.three-dot {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.three-dot,
.edit-icon,
.trash-icon,
.exit-icon {
    width: 1.1em;
    transition: 300ms ease-in-out;
}

.project-title {
    font-family: "Poppins Medium";
}

.favorites-icon {
    fill: rgb(0, 0, 0);
    width: 1rem;
}

#starred-icon {
    transition: 100ms ease-in-out;
}

.star-container {
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.project-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2em;
    font-size: 0.7rem;
}

.author-bookmark-state {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    color: rgb(46, 87, 150);
    font-size: 0.65rem;
    cursor: pointer;
    outline: inherit;
}

.project-bottom {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    font-family: "Rubik Light";
    justify-content: center;
}

.project-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-description-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.project.active .project-body>.project-description-container {
    display: block;
}

.project-description-container {
    display: none;
}

.project-description {
    transition: 300ms ease;
    font-size: 1rem;
    opacity: 0.7;
    width: 80%;
    line-height: 1.5;
}

.project-footer {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.project.active .project-bottom .project-footer {
    justify-content: flex-start;
}

#project-extend {
    height: 3rem;
    width: 3.5rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
    box-shadow: var(--defaultShadow);
    cursor: pointer;
    font-size: 1rem;
    position: relative;
}

.deadline-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    opacity: 1;
    padding: 0 0.4em;
    transition: 300ms ease-in-out;
    gap: 0.2em;
}

.until,
.deadline-date {
    font-size: 0.8rem;
}

#expand-ticket-icon {
    width: 1.5rem;
    opacity: 0.8;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -51%);
}

.show-ticket-button {
    padding: .7em 0.5em;
    border-radius: 10px;
    background-color: var(--secondary);
    display: none;
    border: none;
    cursor: pointer;
    width: fit-content;
    box-shadow: var(--defaultShadow);
}

.leave-project-form {
    height: fit-content;
    width: fit-content;
}

.go-to-ticket {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project.active .go-to-ticket>.show-ticket-button {
    display: block;
}

.project.active .project-header-right>.three-dot {
    opacity: 1;
    pointer-events: all;
}

.remove-user-form {
    width: fit-content;
}

.remove-user-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    padding: 0.4em;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    box-shadow: var(--defaultShadow);
    background-color: var(--primary);
    font-family: "Rubik Medium";
}

.image-username-container {
    width: 1.5rem;
    height: 1.5rem;
}

.user-img {
    width: 100%;
    border-radius: 50px;
}

.image-username-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    cursor: pointer;
}

.user-details {
    width: 85%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(170, 170, 170, 0.129);
    border-radius: 12px;
    padding: 0.2em 0.5em;
    gap: 0.5em;
}

.user-username {
    font-family: "Poppins";
    text-transform: capitalize;
}


/* collaborate */

.collaborate-dropdown {
    box-sizing: border-box;
    position: absolute;
    top: 83%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    opacity: 0;
    z-index: 2;
    height: 200px;
    display: grid;
    grid-template-rows: 30% 70%;
    pointer-events: none;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 250ms ease;
    box-shadow: var(--defaultShadow);
    -webkit-box-shadow: var(--defaultShadow);
    width: 300px;
}

.collaborate-dropdown.active {
    opacity: 1;
    pointer-events: all;
}

.dropdown-list {
    width: 300px;
    height: 100%;
    display: flex;
    gap: 0.6em;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* Container for the search bar */

#dropdown-header {
    display: flex;
    justify-content: center;
    width: 300px;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 2;
    cursor: pointer;
    background-color: white;
    border-radius: 20px 20px 0 0;
}


/* Container for both input and search icon */

#search-container {
    width: 85%;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgba(170, 170, 170, 0.129);
    border-radius: 15px;
    cursor: pointer;
    padding: 0.5em 0.5em;
}


/* Container for the search icon */

#dropdown-search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Actual search icon */

#dropdown-search-icon {
    width: 1rem;
}


/* Input element to search for a country */

#collaborate-search {
    outline: none;
    margin-left: 0.5rem;
    background-color: none;
    border: none;
    font-family: "poppins";
    background-color: #f4f4f4;
}