@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    font-size: 0.9rem;
    outline: 0px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

p {
    color: red;
}

.forms-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Circle Animated Div*/

.cover {
    width: 200vw;
    height: 300vh;
    position: absolute;
    background-color: #F6CFCA;
    border-radius: 50%;
    transition: 2s ease-in-out;
}


/*------------------login-------------------*/

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    transition: 2s;
}


/*-------------- Registration --------------*/

.register {
    transition: 2.2s ease;
    display: flex;
    flex-direction: column;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 3s ease;
}


/*--------------Form Header Message--------------*/

.header {
    font-family: 'Poppins';
    color: #444;
}


/*--------------Input--------------*/

input {
    margin: 10px;
    margin-left: 0;
    background: none;
    border: none;
    font-family: 'Poppins';
    transition: .5s ease;
}

input::placeholder {
    font-weight: 500;
    color: #333;
    transition: .5s ease;
}

.input-field {
    background-color: #f0f0f0;
    margin-bottom: 15px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    transition: .5s ease;
}

.input-field:hover>input::placeholder,
.input-field-password:hover>input::placeholder {
    opacity: 1;
}

/*--------------Icons--------------*/

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 1.3rem;
    cursor: pointer;
    color: rgba(51, 51, 51, 0.662);
}

input::placeholder,
i {
    opacity: 0.5;
}


/*----------Forgot-Password----------*/

.forgot {
    font-size: 1rem;
    color: black;
}

.forgot:hover {
    color: red;
}


/*--------------Buttons--------------*/
.button:hover {
    background-color: #523b35;
    color: white;
}

.button {
    border: none;
    border-radius: 49px;
    color: gray;
    font-weight: 600;
    background-color: #F6CFCA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}


/*--------------to-register and Alredy Have an Account Links--------------*/

#to-register,
#to-login {
    border-top: -5px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#to-register:hover,
#to-login:hover {
    color: blue;
}

#password-validate {
    font-size: 0.8vw;
    width: 100%;
    color: #333;
    font-weight: 450;
    padding-bottom: 10px;
}

li {
    margin-left: 40px;
}


@media screen and (min-width: 811px) {
    .cover {
        left: -150%;
        top: -95%;
    }
    
    .login {
        margin-right: 13.2%;
        width: 25vw;
    }
    
    .register {
        width: 25vw;
    }
    
    .header {
        margin-bottom: 10px;
        font-size: 3.5rem;
    }
    
    .input-field {
        width: 23vw;
        height: 6.50vh;
    }
    
    .input-field>input {
        font-size: 0.8vw;
    }
    .input-field:hover>input::placeholder,
    .input-field-password:hover>input::placeholder {
        font-size: 0.85vw;
    }
    
    .button {
        width: 8vw;
        height: 4.8vh;
        margin-bottom: 10px;
        font-size: 0.7vw;
    }
    
    #to-register,
    #to-login {
        font-size: 0.7vw;
    }
    
    #password-validate {
        font-size: 0.8vw;
    }
    
    /* Animations */
    
    .forms-container.to-register .login {
        margin-right: -5%;
    }
    
    .forms-container.to-register .register {
        margin-left: 12.5%;
    }
    
    .cover.to-register {
        transform: translateX(100%);
    }
}


@media screen and (min-width: 0px) and (max-width: 810px) {
    .header {
        font-size: 2.1rem;
    }
    .forms-container {
        flex-direction: column;
    }
    .login {
        margin-right: 0%;
        margin-bottom: 1rem;
        width: 45vw;
        font-size: 10rem;
    }
    .register {
        margin-top: 0%;
        max-width: 337px;
    }
    .cover {
        width: 500vw;
        height: 300vh;
        left: -200%;
        top: -232%;
        background-color: #F6CFCA;
        border-radius: 50%;
    }
    .input {
        font-size: 10vw;
    }

    .input-field {
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .forms-container.to-register .login {
        margin-bottom: 0%;
        margin-right: 0%;
    }
    .forms-container.to-register .register {
        margin-top: 10%;
        margin-left: 0%;
    }
    .cover.to-register {
        transform: translateY(100%);
    }
}