@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    outline: 0px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

p {
    color: red;
}

body {
    height: 100vh;
}


/* Circle Animated Div*/

#cover {
    width: 200vw;
    height: 300vh;
    position: absolute;
    left: -150%;
    top: -95%;
    background-color: #F6CFCA;
    border-radius: 50%;
    transition: 1.5s ease-in-out;
}


/*------------------login-------------------*/

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    transition: 1s ease-in-out;
    position: absolute;
    left: 64%;
    top: 35%;
    width: 380px;
}


/*-------------- Registration --------------*/

.register {
    width: 380px;
    margin-top: 8%;
    transition: 1.7s ease-in-out;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}