@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    -moz-font-size: 60px;
    -webkit-font-size: 30px;
    font-size: 14px;
    outline: 0px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

p {
    color: red;
}

body {
    height: 100vh;
}

.forms-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Circle Animated Div*/

#cover {
    width: 200vw;
    height: 300vh;
    position: absolute;
    left: -150%;
    top: -95%;
    background-color: #F6CFCA;
    border-radius: 50%;
    transition: 1.5s ease;
}


/*------------------login-------------------*/

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    transition: 1s ease;
    margin-right: 10%;
    width: 425px;
}


/*-------------- Registration --------------*/

.register {
    width: 425px;
    transition: 1.7s ease;
    display: flex;
    flex-direction: column;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    color: #333;
}

.email:valid {
    color: rgb(53, 203, 153);
}

.email:invalid {
    color: rgb(244, 61, 61)
}


/*--------------Form Header Message--------------*/

.header {
    margin-bottom: 10px;
    font-size: 2.2rem;
    font-family: 'Poppins';
    color: #444;
}


/*--------------Input--------------*/

input {
    margin: 10px;
    background: none;
    border: none;
    font-size: 1.1rem;
    font-family: 'Poppins';
    transition: .5s ease;
}

input::placeholder {
    font-weight: 600;
    transition: .5s ease;
}

.input-field {
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 15% 85%;
    border-radius: 55px;
    transition: .5s ease;
}

.input-field:hover>input::placeholder,
.input-field-password:hover>input::placeholder {
    font-size: 1.2rem;
    opacity: 1;
}

.input-field-password {
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    transition: .5s ease;
}


/*--------------Icons--------------*/

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 1.2rem;
    cursor: pointer;
}

input::placeholder,
i {
    opacity: 0.4;
}


/*----------Forgot-Password----------*/

.forgot {
    font-size: 1rem;
    color: black;
}

.forgot:hover {
    color: red;
}


/*--------------Buttons--------------*/

.wrapper {
    background: #F6CFCA;
    width: 150px;
    height: 38px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #523b35;
    color: white;
}

.button {
    width: 150px;
    border: none;
    outline: none;
    border-radius: 49px;
    color: gray;
    font-weight: 600;
    background-color: #F6CFCA;
    height: 50px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}


/*--------------Create and Alredy Have an Account Links--------------*/

#create,
#already {
    font-size: 1.1rem;
    border-top: -5px;
    background-color: white;
    border: none;
}

#create:hover,
#already:hover {
    color: blue;
}

.password-validate {
    width: 100%;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}