<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/modal-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <script src="../static/modal.js" type="text/javascript" defer></script>
    <title>Dashboard</title>
</head>

<body onload="loading()">

    <button class="show-modal-button">
          <i class="fas fa-plus"></i>
    </button>

    <div class="project-modal-container" >
        <form class="add-project-form" action="/" method="post">
            <div class="input-field">
                <label class="project-label">Create new project</label>
                <button type="button" class="x-button">&times;</button>
            </div>

            <div class="line"></div>
            
            <div class="project-title">
            <input type="text" class="project-input" name="title" required placeholder="Title" onkeyup="validate()" maxlength="30">
            <p class="counter-container"><span class="character-counter">0</span>/30</p>
            </div>
            
            <div class="input-field">
                <textarea type="text" class="project-description" name="description" required rows="7" cols="24" placeholder="Add a small description"></textarea>
            </div>

            <div class="input-field">
                <label class="deadline">Deadline</label>
                <input type="date" class="project-deadline" name="deadline" required>
            </div>

            <div class="line"></div>
        
            <div class="status">
                <div class="close-button">Cancel</div>
                <button class="add-button">Add</button>
            </div>
        </form>
    </div>
    <div class="backdrop"></div>

</body>

</html>