<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-form.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <title>Welcome</title>
    <script src="../static/form.js" type="text/javascript"></script>

</head>

<body onload="loading()">
    <div class="forms-container">

        <!--Register-->
        <div class="register" id="register">
            <p id="register-error"></p>
            <form class="form-register" id="form-register" action="/register" method="post">
                <h1 class="header">Create an account</h1>
                <div class="input-field">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    <input type="text" class="first-name" required name="first-name" placeholder="First Name">
                </div>
                <div class="input-field">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    <input type="text" class="last-name" required name="last-name" placeholder="Last Name">
                </div>
                <div class="input-field">
                    <div class="icon"><i class="fas fa-phone"></i></div>
                    <input type="tel" class="telephone" required name="telephone" placeholder="Contact Number">
                </div>
                <div class="input-field">
                    <div class="icon"><i class="fas fa-envelope"></i></div>
                    <input type="email" class="email" required name="email" placeholder="Email">
                </div>
                <div class="input-field-password">
                    <div class="icon"><i class="fas fa-lock"></i></div>
                    <input type="password" id="regpassword" required name="password" placeholder="Password" onkeyup="validate()">
                    <div class="icon"><i class="fas fa-eye-slash" id="regeye" onclick="showHide('regpassword','regeye')"></i></div>
                </div>
                <div class="input-field">
                    <div class="icon"><i class="fas fa-lock"></i></div>
                    <input type="password" required name="confirm-password" placeholder="Confirm Password">
                </div>

                <ul id="password-validate">
                    <li> must be atleast 5 characters </li>
                    <li> must contain a capital letter </li>
                    <li> must contain a number </li>
                    <li> must contain one of $&+,;:=?@#</li>
                </ul>

                <div class="wrapper">
                    <button class="button">Create Account</button>
                </div>
            </form>
            <button id="already" onclick="coverToLeft()">Already Have An Account?</button>
        </div>

        <!-- Login -->
        <div class="login" id="login">
            <p id="login-error"></p>
            <form class="form-login" action="/login" method="post">
                <h1 class="header">Welcome</h1>
                <div class="input-field">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    <input type="text" class="userName" name="username" placeholder="Username">
                </div>
                <div class="input-field-password">
                    <div class="icon"><i class="fas fa-lock"></i></div>
                    <input type="password" id="logpassword" required name="password" placeholder="Password">
                    <div class="icon"><i class="fas fa-eye-slash" id="logeye" onclick="showHide('logpassword','logeye')"></i></div>
                </div>
                <div class="wrapper">
                    <button class="button">Login</button>
                </div>
            </form>
            <button id="create" onclick="coverToRight()">Create An Account?</button>
        </div>
    </div>
    <div id="cover">
    </div>
</body>

</html>