{%- block scripts %}
<script src="{{ url_for( 'projects.static' , filename='new-project-modal.js')  }}" type="module" defer></script>
{% endblock scripts -%} {% extends "head.html" %} {%- block style %}
<link rel="stylesheet" href="{{ url_for( 'projects.static' , filename='new-project-modal.css')}}"> {% endblock style -%} {%- block new_project %}

<img src="{{ url_for( 'static' , filename='background.png')  }}" class="image-background" alt="">

<div id="background" class="background">
</div>

<!-- displays form errors -->
{% if form.errors %}
<ul class="error-list">
    {% for field_name,field_errors in form.errors|dictsort if field_errors %} {% for error in field_errors %}
    <div class="error">{{ field_name }} {{ error }}</div>
    {% endfor %} {% endfor %}
</ul>
{% endif %}

<div class="add-project-modal-container">
    <form class="add-project-form" role="form" action="{{ url_for('projects.addProject') }}" method="post">

        {{ form.csrf_token }}
        <div class="input-field">
            <label class="add-project-label">CREATE NEW PROJECT</label>
            <button type="button" class="modal-x-button">&times;</button>
        </div>

        <div class="line"></div>

        <div class="input-field">
            <!--  project title input -->
            {{ form.title(class="add-project-input", placeholder="Web App") }}
            <p class="counter-container" id="counter-for-title"><span>0</span>/50</p>
        </div>

        <div class="input-field">
            <!-- project description input -->
            {{ form.description(class="add-project-description", rows="5", placeholder="This project....") }}
            <p class="counter-container" id="counter-for-description"><span>0</span>/200</p>
        </div>

        <div class="input-field">
            <label class="deadline">Deadline</label>
            <!-- project deadline input -->
            {{ form.deadline(class="add-project-deadline") }}
        </div>

        <div class="line"></div>

        <div class="status">
            <!-- Cancel Button -->
            <div class="modal-close-button">CANCEL</div>
            <!-- Add Button -->
            {{ form.add(class="add-button") }}
        </div>
    </form>
</div>
<!-- end of new_project -->
{%- endblock new_project %}