<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="{{ url_for ('errors.static' , filename='errors.css') }}">
</head>

<body>
    <main>
        <div class="main-container">
            <div class="main-errors">
                <div class="error error-title-container">
                    <p class="error-title">{{ title }}</p>
                </div>
                <div class="error error-message-container">
                    <p class="error-message">{{ message }}</p>
                    <button id="return-button" onclick="window.history.back();">< Go Back</button>
                </div>
            </div>
        </div>
        <div class="error error-code-container">
            <div class="error-code">
                <p class="error-number">{{ code }}</p>
            </div>
        </div>
    </main>
</body>

</html>